
main {margin-top:80px;

} 

div.main{
margin:0;

}
.myphoto{
padding:0;
}





svg{
	position:absolute;
	width:100%;
	height:100%;
}
@keyframes rotate {
  0% {
	
    transform: rotate(0deg);
	
  }
  100% {
    transform: rotate(360deg);
  }
}

.wood-wheel {
	
  animation-name: rotate;
  animation-duration: 2s;
}




/*

*/











.animation{border:2px solid white;}
:hover.animation{border:2px solid black;}







 
.tracking-in-expand{animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
 
 @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
 
